.terraform/          
*.tfstate             
*.tfstate.backup     
crash.log             

*.tfvars              
.terraformrc         
*.pem                 
*.key                


.DS_Store             
.idea/                

